<%= form_with model: [@product, @comment] do |form| %>
    <div class="mt-4">
        <%=  form.text_area :content, class:"relative mb-2 md:mb-0 w-full py-4 pl-4 text-sm border rounded resize-none bg-gray-50", placeholder:"Comentario" %>
    </div>
    <div class="mt-4">
        <%= form.submit 'Comentar', class:"inline-block px-6 py-4 text-sm text-white bg-red-400 hover:bg-red-300 rounded transition duration-20" %>
    </div>
<% end %>

